html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 90px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
#header {
    width:100%;
    background-color: #4D4D4D;
}

#form{
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0  0 5px rgba(0, 0, 0, 0.22);

}
#form h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #E0E0E0;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

#form input, #form select{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 5px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 30px;
}

.btn {
    padding: 10px 10px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    background:#cccccc;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    background:#bfbfbf;
}


text {
    font: 15px sans-serif;
    pointer-events: none;
    stroke: none;

}

#explainbox {
    font: 20px sans-serif;
    text-align: center;
}

.link {
    stroke: #000;
    fill: none;
    stroke-width:3;
}

#roundno {
    text-align: center;
    font: 20px sans-serif;
}
#certainty {
    text-align: center;
    font: 20px sans-serif;
}
#textbox {
    height:250px;
    #background: #fafafa;
}